<main role="main" class="container mt-5">
    <div class="row">
        {% block content %}{% endblock %}
        <div class="text-center content-section bg-light pb-3">
          <h3 class="p-3">CONTENTS</h3>
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">Enjoy the fun in this app and get to interact with anyone from all over the world.</li>
              <li class="list-group-item mt-3 list-group-item-success">Latest Blogs</li>
              <li class="list-group-item mt-3 list-group-item-success">Blogs</li>
              <li class="list-group-item mt-3 list-group-item-success">Calendars</li>
              <li class="list-group-item mt-3 list-group-item-success">Quotes</li>
            </ul>
        </div>
    </div>
  </main>
  <hr class="text-danger mt-5">