{% extends "base.html" %}

{% block content %}
    <img class="rounded-circle " src="{{ url_for('static', filename = 'css/images' + post.author.image_path) }}">
    <div class="card mt-5">
        <div class="card-header">
            <h3>{{ post.title }}</h3>
        </div>
        <div class="card-body">
            <p>{{ post.content }}</p>
        </div>
        <div class="card-footer">
            <span>Posted by <strong>{{ post.author.username }}</strong> </span> <span>{{ post.date_posted.strftime('%Y-%m-%d') }}</span>
        </div>
        {% if post.author == current_user %}
            <div>
                <a class="btn btn-success" href="{{ url_for('update_post', post_id = post.id) }}">Update</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" >Delete</button>
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form method = 'POST' action="{{ url_for('delete_post', post_id = post.id) }}">
                  <input class="btn btn-danger" value="Delete" type="submit">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock%}