{% extends "base.html" %}
    {% block content %}
        <div class="content-section text-center">
            <form class="mt-2 pb-3 w-75 " method="POST">
                <fieldset class = "form-group">
                    <!-- {{ form.hidden_tag }} -->
                    <legend>Join The Legends Here</legend>
                    <div class = "form-group">
                        {{ form.username (class="form-control form-control-lg ", placeholder="Username") }}
                    </div>
                    <div class = "form-group">
                        {{ form.email (class="form-control form-control-lg mt-2 ", placeholder="Email") }}
                    </div>
                    <div class = "form-group">
                        {{ form.password (class="form-control form-control-lg mt-2 ", placeholder="Password") }}
                    </div>
                    <div class = "form-group">
                        {{ form.confirm_password (class="form-control form-control-lg mt-2 ", placeholder="Confirm password") }}
                    </div>
                    <div class = "form-group">
                        {{ form.submit(class = "btn btn-outline-info mt-3 px-4") }}
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="mt-3 text-center w-75">
            <small>Already have an account?<a href="{{ url_for('login') }}">Login</a></small>
        </div>
        
    {% endblock %}